header {
	background-color: rgb(212, 217, 222);
	width: 100%;
	height: 2.5em;
	margin-top: 3em;
}

header h1 {
  font-family: Cinzel;
  font-size: 2.5em;
  padding-left: 5em;
}

figure  {
	margin: 2em auto 0 8em;
}

figure img  {
	float: left;
	width: 25%;
	height: 50%;
}

figcaption  {
	width: 25%;
	font-family: Cinzel;
	font-size: 1em;
	font-weight: 200;
}

article p  {
	float: right;
	width: 25%;
	margin-top: -2em;
	border-top: .2em solid black;
	margin-right: 1em;
	text-align: right;
	font-family: Cinzel;
}

.main-nav a:hover  {
  clear: both;
  color: whitesmoke;
  text-decoration: none;
}

.main-nav  {
  width: 100%;
  height: 5em;
  margin-left: .1vw;
  margin-top: 2vw;
}

.main-nav li {
  display: inline-block;
  list-style-type: none;
  margin: .2em 1em 0 .5em;
  background-color: rgb(212, 217, 222);
  padding: .1em;
}

.main-nav a  {
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-family: Cinzel;
  font-weight: bold;
}

